# Copia este fichero como .env y rellena tus valores
# cp .env.example .env

ANTHROPIC_KEY=sk-ant-api03-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
RUTA_A3CON=C:\A3\A3CONV5\E00002\FACTURAS\2026
RUTA_ENTRADA=C:\Facturas_Entrada
